/* BEGIN my styling */

.grid li:nth-of-type(odd) {
  /*padding-right: 50px;*/
}

body {
  background-color: #C4C4C6;
  font-family: Gill Sans, Arial, sans-serif;
  font-weight: 300;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Gill Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: black;
}

figcaption span {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #FF7D00;
  font-weight: 400;
}

figcaption p {
  color: #3e4553;
  font-weight: 400;
}

#hire-me-link {
  background-color: #FF7D00;
  border: 2px solid #FF7D00;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 60px;
  text-transform: uppercase;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

#hire-me-link:hover {
  border: 2px solid #FF7D00;
  color: #FF7D00;
  background-color: rgba(0,0,0,0);
}

.navbar {
  border-radius: 0;
  min-height: 90px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.6);
  z-index: 99;
}

.navbar-inverse {
  background-color: #3e4553;
  border-color: #3e4553;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: #3e4553;
  color: #ff7d00;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-brand:hover {
  color: #ff7d00;
}

.navbar-nav li {
  font-size: 19px;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 60px;
  padding-right: 60px;
}

.navbar-inverse .container {
  padding-top: 20px;
}

.navbar-inverse .navbar-toggle {
  border-color: rgba(0,0,0,0);
}

.navbar-inverse .navbar-toggle:hover {
  background-color: rgba(0,0,0,0);
}

#footer-area {
  background-color: #858586;
  margin-top: 30px;
}

.clear-navbar {
  margin-top: 12rem;
}

footer {
  text-align: center;
  padding: 15px 0;
}

@font-face {
  font-family: Socialglyphs;
  font-family: "Socialglyphs";
  src: url(../type/socialglyphs-regular.svg#socialglyphs-regular) format("svg"),
    url(../type/socialglyphs-regular.ttf) format("truetype"),
    url(../type/socialglyphs-regular.woff) format("woff"),
    url(../type/socialglyphs-regular.eot);
}

footer h1, #about-page-social-links {
  font-family: Socialglyphs, sans-serif;
  margin-bottom: 20px;
  margin-top: 0;
  padding-right: 60px;
}

footer h1 a {
  text-decoration: none;
  color: white;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

footer h1 a:hover {
  text-decoration: none;
  color: #ff7d00;
}

.stack-overflow {
  padding-left: 30px;
}

#about-page-social-links a {
  text-decoration: none;
  color: #858586;
  -webkit-transition: color .2s ease-out;
  -moz-transition: color .2s ease-out;
  -o-transition: color .2s ease-out;
  transition: color .2s ease-out;
}

#about-page-social-links a:hover {
  text-decoration: none;
  color: #ff7d00;
}

#about-page-social-links {
  padding-left: 20px;
  padding-bottom: 50px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

#hire-me-row {
  margin-top: 125px;
}

.about-page-text img {
  max-width: 200px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 10px;
}



.georgia { font-family: Georgia; }
.palatino { font-family: "Palatino Linotype"; }
.times { font-family: "Times New Roman"; }
.arial { font-family: Arial; }
.arial-black { font-family: "Arial Black"; }
.comic { font-family: "Comic Sans MS"; }
.cursive { font-family: cursive; }
.impact { font-family: Impact; }
.lucinda { font-family: "Lucida Sans Unicode"; }
.tahoma { font-family: Tahoma; }
.trebuchet { font-family: "Trebuchet MS"; }
.verdana { font-family: Verdana; }
.courier { font-family: "Courier New"; }
.lucinda-consle { font-family: "Lucinda Console"; }
.monaco { font-family: Monaco; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

.size-xs { font-size: 12px; }
.size-sm { font-size: 14px; }
.size-md { font-size: 18px; }
.size-lg { font-size: 24px; }
.size-xl { font-size: 30px; }
.size-xxl { font-size: 40px; }

.padding-sm { padding: 12px 12px 12px 0px; }
.padding-md { padding: 12px 16px 12px 0px; }
.padding-lg { padding: 12px 20px 12px 0px; }

.orange { color: #ff7d00; }
.white { color: white; }
.navy { color: #3e4553; }

.light { font-weight: 300; }
.normal { font-weight: 400; }
.bold { font-weight: 700; }
.italic { font-style: italic; }






/* END my styling */





.grid {
  padding: 0 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 400px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  /*background: rgba(0,0,0,0.2);*/
  color: white;
  border-radius: 100%;
}

.grid figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
}

.grid figcaption span:before {
  /*content: 'by ';*/
}

.grid figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #FF7D00;
  color: white;
}




/* Caption Style 6 */
.cs-style-6 figure img {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
  -webkit-transform: translateY(-70px) scale(0.3);
  -moz-transform: translateY(-70px) scale(0.3);
  -ms-transform: translateY(-70px) scale(0.3);
  transform: translateY(-70px) scale(0.3);
}

.cs-style-6 figcaption {
  height: 100%;
  width: 100%;
  text-align: center;
}

.cs-style-6 figcaption h3 {
  margin-top: 50%;
}

.cs-style-6 figcaption a {
  position: absolute;
  bottom: 40px;
  right: 137px;
}








@media screen and (max-width: 31.5em) {
  .grid {
    padding: 0 0px;
  }
  .grid li {
    width: 100%;
    min-width: 220px;
    /*padding-bottom: 250px;*/
  }

  .navbar-brand {
    font-size: 30px;
    padding-right: 60px;
  }

  .navbar {
    min-height: 50px;
  }

  .navbar-inverse .container {
    padding-top: 0px;
  }

  .grid figcaption {
    position: absolute;
    top: 160px;
    left: 0;
    padding: 5px;
    color: white;
    border-radius: 0;
  }

  .cs-style-6 figcaption a {
    position: absolute;
    bottom: -15px;
    right: 0px;
  }

  .cs-style-6 figure img {
    z-index: 10;
    -webkit-transition: none;
    -moz-transition:  none;
    transition: transform none;
  }

.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #hire-me-link {
    background-color: #FF7D00;
    border: 2px solid #FF7D00;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin: -35px 80px 30px 0;
    text-transform: uppercase;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
  }

  #hire-me-row {
    margin-bottom: 30px;
    margin-top: 70px;
  }

  .grid {
    padding: 0;
  }

  .grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
    padding-bottom: 50px;
  }

  .col-sm-12 {
    margin-bottom: 170px;
  }

}

